body {
    background-color: whitesmoke;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
.wrapper {
    font-family: Vollkorn, serif;
    font-size: .95em;
    color: #333;
    width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}
.header, .mainnav, article, footer {
    margin: 10px auto;
    padding: 15px;
    vertical-align: top;
    background-color: #fff;
    width: 60%}
.navigation {
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
}
.mainnav {
    margin: 0 auto;
    padding: 0;
    width: 90%}
.header, footer {
    text-align: center;
}
footer {
    line-height: .5em;
    margin: 0 auto 10px;
}
footer p {
    margin: 0;
    font-size: .8em;
    padding: 5px;
}
a {
    color: red;
    text-decoration: none;
    transition: color 400ms ease-out;
}
a:hover {
    color: #333;
    transition: color 400ms ease-out;
    text-decoration: underline;
}
h1#blog-title {
    font-weight: 200;
}
h1#blog-title a {
    color: #333;
    transition: color 400ms ease-out;
}
h1#blog-title a:hover {
    text-decoration: none;
    color: red;
    transition: color 400ms ease-out;
}
.chat ul, .post-tags ul, ul.pages {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.post-tags li, ul.pages li {
    display: inline;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
ul.pages li a {
    padding: 5px 10px;
}
.post-date, .post-title {
    font-family: 'Source Sans Pro', sans-serif;
}
.post-date a {
    font-size: .8em;
    margin: 0 auto;
}
.post-notes, .post-tags, .post-notecount {
    font-size: .8em;
    font-family: 'Source Sans Pro', sans-serif;
}
.post-tags li {
    text-transform: none;
    padding-left: 5px;
    padding-right: 5px;
}
.post-tags li:first-child {
    padding: 0;
}
.hovershow {
    opacity: 0;
    transition: opacity 400ms;
}
.nohovershow img {
    display: none!important;
    padding: 0;
    border-top: 1px solid #ccc;
}
article:hover .hovershow {
    display: block;
    position: relative;
    transition: opacity 400ms;
    opacity: 1;
}
blockquote {
    font-size: 1em;
    font-style: italic;
}
.audio iframe, .panorama img, .photo img, .photoset img, .video iframe {
    max-width: 100%;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
}
figure {
    margin: 0;
}
.link h2 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.link h2:after {
    content: "\BB"}
.answer .question {
    background-color: #f5f5f5;
    padding: 10px;
}
.answer .asker {
    text-align: right;
}
blockquote cite {
    display: block;
    font-style: normal;
}
blockquote cite:before {
    content: "\2014"}
.chat ul li {
    padding: 5px;
}
.chat li.odd {
    background-color: #f5f5f5;
    padding: 5px;
    transition: background-color 400ms;
}
.chat li.even {
    background-color: white;
    transition: background-color 400ms;
    padding: 5px;
}
.chat .label {
    max-width: 20%;
    font-weight: bold;
    line-height: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}
.chat .line {
    overflow: hidden;
}
.navigation ul {
    list-style: none;
    padding: 0;
    width: 60%;
    margin: 0 auto;
}
.navigation {
    text-align: center;
}
.navigation li {
    display: inline-block;
    width: auto;
    padding: 0 10px;
}
.navigation li.prev:before {
    content: "\2190";
    opacity: 0;
    transition: opacity 400ms ease-out;
}
.navigation li.prev:hover:before {
    content: "\2190";
    opacity: 1;
    transition: opacity 400ms ease-out;
}
.navigation li.next:after {
    content: "\2192";
    opacity: 0;
    transition: opacity 400ms ease-out;
}
.navigation li.next:hover:after {
    content: "\2192";
    opacity: 1;
    transition: opacity 400ms ease-out;
}
.post-date, .post-notecount {
    display: inline-block;
}
.post-date {
    float: left;
}
.post-meta {
    border-top: 1px solid #f8f8f8;
}
.post-notecount {
    float: right;
}
.clearfix {
    clear: both;
}
.post-content {
    padding-bottom: 10px;
}
