body {
    background-color: #f8f8f8;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 0.78em;
    padding-top: 20px;
}
.sidebar {
    max-width: 25%;
    float: left;
    text-align: center;
    position: fixed;
}
.sidebar, article {
    margin: 0 auto;
    background-color: white;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 51, 34, 0.34);
       -moz-box-shadow: 4px 4px 5px 0px rgba(0, 51, 34, 0.34);
            box-shadow: 4px 4px 5px 0px rgba(0, 51, 34, 0.34);
}
article {
    margin-bottom: 20px;
}
.sidebar img, .photo img {
    max-width: 100%;
}
.blog-title a {
    word-wrap : break-word;
    color: #D61A33;
    font-family: 'Lobster', cursive;
}
.sidebar .top, .post-content {
    padding: 10px;
}
.sidebar ul, footer ul, footer ul {
    padding: 0;
    list-style: none;
}
.sidebar ul li {
    display: inline-block;
    padding: 5px 8px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    -webkit-transition: background-color 400ms;
       -moz-transition: background-color 400ms;
            transition: background-color 400ms;
}
.sidebar ul li:hover {
    background-color: white;
    -webkit-transition: background-color 400ms;
       -moz-transition: background-color 400ms;
            transition: background-color 400ms;
}
.nodecor a {
    text-decoration: none;
}
.nopad .post-content{
    padding: 0;
}
.posts {
    width: 65%;
    margin: 0 auto;
    float: right;    
}
article:hover .post-meta {
    opacity: 1;
    -webkit-transition: opacity 400ms;
       -moz-transition: opacity 400ms;
            transition: opacity 400ms;
}
.post-meta {
    border-top: 1px solid #f8f8f8;
    padding: 10px;
    opacity: 0;
    -webkit-transition: opacity 400ms;
       -moz-transition: opacity 400ms;
            transition: opacity 400ms;
}
a {
    color: #333;
    -webkit-transition: color 400ms;
       -moz-transition: color 400ms;
            transition: color 400ms;
}
a:hover {
    text-decoration: none;
    color: #D61A33;
    -webkit-transition: color 400ms;
       -moz-transition: color 400ms;
            transition: color 400ms;
}
.prev, .next {
    display: inline-block;
    padding: 5px;
}
.prev p, .next p, .post-meta p {
    margin: 0;
}
.prev:hover, .next:hover {
    background-color: white;
    transition: box-shadow 400ms;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 51, 34, 0.34);
       -moz-box-shadow: 4px 4px 5px 0px rgba(0, 51, 34, 0.34);
            box-shadow: 4px 4px 5px 0px rgba(0, 51, 34, 0.34);
}
.prev p:before {
    content: "\2190";
    opacity: 0;
    color: #D61A33;
}
.next p:after {
    content: "\2192";
    opacity: 0;
    color: #D61A33;
}
.prev p:hover:before {
    transition: opacity 400ms;
    opacity: 1
}
.next p:hover:after {
    transition: opacity 400ms;
    opacity: 1;
}
.next {
    float: right;
}
.pagination {
    margin-bottom: 20px;
}
.nopad figure {
    margin: 0;
}
.nopad img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.caption {
    padding: 10px;
}
footer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    margin: 20px auto 20px auto;
    text-align: right;
    font-size: 0.7em;
}
footer ul li {
    display: inline-block;
}
.clearfix {
    clear: both;
}
.quote blockquote{
    font-size: 1.2em;
    font-family: 'Vollkorn', serif;
}
.quote cite:before {
    content: "\2014";
}
.quote cite {
    color: #D61A33;
    display: block;
    text-indent: -1em;
    font-style: normal;
}
blockquote {
    font-style: italic;
}
